<a href="https://colab.research.google.com/github/ThayMosqueiro22/faculdadeAnhanguera/blob/main/SQL_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import sqlite3

conn = sqlite3.connect('contatos.db')

cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS Contatos (
  nome TEXT,
  telefone TEXT,
  email TEXT)
  ''')

dados_exemplo = [
    ('Jo達o','joao@email','123-456-789'),
    ('Maria','maria@email','987-654-321'),
    ('Carlo','carlo@email','112-233-4455')

]

cursor.executemany('INSERT INTO Contatos (nome,telefone,email) VALUES (?,?,?)',dados_exemplo)

conn.commit()

cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall() # Fetch all contacts
print("Contatos")
for contato in contatos: # Iterate over the fetched contacts
  print(contato)

novo_telefone='999-999-9999'
contato_id = 2 # Use nome as the identifier for update

cursor.execute('UPDATE Contatos SET telefone = ? WHERE nome = ?', (novo_telefone,contato_nome))
conn.commit()

contato_nome_para_excluir = 'Carlo' # Use nome as the identifier for delete
cursor.execute('DELETE FROM Contatos WHERE nome = ?', (contato_nome_para_excluir,))
conn.commit()

conn.close()

Contatos
('Jo達o', 'joao@email', '123456789')
('Maria', '999-999-9999', '987654321')
('Jo達o', 'joao@email', '123-456-789')
('Maria', '999-999-9999', '987-654-321')
('Jo達o', 'joao@email', '123-456-789')
('Maria', 'maria@email', '987-654-321')
('Carlo', 'carlo@email', '112-233-4455')