<a href="https://colab.research.google.com/github/ThayMosqueiro22/faculdadeAnhanguera/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect('funcionarios.db')

In [2]:
cursor =conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS funcionarios (
    id INTEGER PRIMARY KEY,
    nome TEXT,
    cargo TEXT,
    salario REAL
)
''')

In [15]:
# novo_funcionario=(1,'João','Analista',5000)
# cursor.execute('INSERT INTO funcionarios VALUES(?,?,?,?)',novo_funcionario)
# novo_funcionario=(2,'Maria','Gerente',15000)
# cursor.execute('INSERT INTO funcionarios VALUES(?,?,?,?)',novo_funcionario)
novo_funcionario=(3,'Lucas','Tecnico',4000)
cursor.execute('INSERT INTO funcionarios VALUES(?,?,?,?)',novo_funcionario)
conn.commit()

In [18]:
cursor.execute('SELECT * FROM funcionarios')
funcionarios = cursor.fetchall()
print('Funcionários Cadastrados:')
for funcionario in funcionarios:
  print(funcionario)

Funcionários Cadastrados:
(2, 'Maria', 'Gerente', 15000.0)
(3, 'Lucas', 'Tecnico', 4000.0)

In [10]:
atualizacao = ('João Silva',55000.00,1)
cursor.execute('UPDATE funcionarios SET nome=?, salario=? WHERE id=?',atualizacao)
conn.commit()

In [17]:
id_funcionario_para_deletar = 1
cursor.execute('DELETE FROM funcionarios WHERE id=?', (id_funcionario_para_deletar,))
conn.commit()